@import 'https://site-assets.fontawesome.com/releases/v6.3.0/css/all.css';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  font-family: 'Open Sans', sans-serif;
}
img{
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.label-swal{
  margin-bottom: 25px;
  display: table;
  width: 100%;
  text-align: left;
}

#newCard {
  background: #ffedad;
  border: solid 1px #ffc901;
  color: #dd7f02;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 10px;
}